:root {
  --color-primary: #00b2ff;
  --color-primary-dark: #00a0e6;
  --color-primary-darker: #0097d9;
  --color-primary-darkest: #008bc7;
  --color-primary-light: #1abaff;
  --color-primary-lighter: #26beff;
  --color-primary-lightest: #4dc9ff;
  --color-primary-opacity: #00b3ff77;
  --color-dark: #000000;
  --color-dark-lighter: #1A1A1A;
  --color-light: #FFFFFF;
  --color-light-darker: #5e5e5e;
  --color-grey: #303030;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font:inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  outline: none;
}

li {
list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

a:hover {
  color: var(--color-primary);
}

.App{
  background-color: var(--color-dark);
  color: var(--color-light-darker);
}

h1 {
  color: var(--color-light);
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 900;
}

/*header*/

.header {
  height: 5.46vw;
  padding: 1vw 2.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: var(--color-light);
}

.header-logo {
  background-image: url(./static/img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.6vw;
  width: 7.8vw;
}

.header-menu-ul {
  display: flex;
  flex-direction: row;
}

.header-menu-li {
  cursor: pointer;
  margin-right: 2.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-li:hover {
  color: var(--color-primary);
}

.header-socials-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.56vw;
  width: 12vw;

}

.header-socials-li a img {
  height: 1.56vw;
  width: 1.56vw;
}

.header-howto-link {
  width: 13.2vw;
  max-width: 253px;
  max-height: 55px;
  cursor: pointer;
  color: var(--color-light);
  padding: 1vw 2.6vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.header-howto-link:hover{
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.burger {
  display: none;
}

/*Body*/

.body {
  padding: 5vw 5vw 10vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-ul {
  min-width: 8.3vw;
  display: flex;
  justify-content: space-between;
}

.body-nav-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
}

/*Stake SOL*/

.stakeSol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stakeSOl-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 25vw;
  width: 30vw;
  max-width: 518px;
  background-color: var(--color-dark-lighter);
  border-radius: 20px;
  padding: 2vw;
}

.stakeSOL-header {
  margin-bottom: 20px;
}

.stake-unstake-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stakeSOL-button, .nft-button {
  padding: 17px 41.5px;
  border: none;
  cursor: pointer;
  margin: 0;
  font-weight: 600;
  border-radius: 20px;
}

.stakeSOL-button:hover, .nft-button:hover {
  background-color: var(--color-light-darker);
}

.stake-input-wrapper {
  width: 26.9vw;
  max-width: 418px;
  min-height: 12vw;
  max-height: 631px;
  background-color: var(--color-dark);
  padding: 1vw;
  margin-bottom: 20px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.stake-input {
  color: var(--color-light);
  border: none;
  background-color: transparent;
  width: 2vw;
  max-width: 80%;
  margin-right: 1vw;
  height: 4.6vw;
  font-size: 30px;
  font-weight: 600;
  outline: none;
}

.input-wrapper {
  max-width: 21.7vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stake-input-label {
  font-size: 30px;
  font-weight: 600;
}


.wallet-adapter-button-start-icon {
  display: none !important;
}

.stake-input-button {
  width: 100%;
  height: 50px ;
  background-color: var(--color-grey) !important;
  color: var(--color-light);
  font-size: 18px !important;
  font-weight: 600 !important;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px !important;
}

.stake-submit-button {
  width: 100%;
  min-height: 50px;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.arrow {
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid var(--color-light);
  border-right: 1.5px solid var(--color-light);
  transform: rotate(45deg);
  margin: 0 0 3px 10px ;
}

.wallet-adapter-modal-wrapper {
  border-radius: 20px !important;
}

.wallet-op {
  width: 100%;
  height: 50px;
  background-color: var(--color-grey);
  color: var(--color-light);
  border: none;
  cursor: pointer;
}

.wallet-op:nth-last-child(1) {
  border-radius: 0 0 20px 20px;
}

.wallet-op:hover {
  background-color: var(--color-dark-lighter);
}


.stake-balance {
  margin-top: 10px;
}

.unstake-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unstake-op {
  width: 12vw;
  max-width: 170px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--color-dark-lighter);
}

.option-name {
  color: var(--color-light-darker);
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.option-sum {
  color: var(--color-light);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.commission {
  font-weight: 400;
  font-size: 12px;
}

.stake-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.address-balance-wrapper {
  margin-bottom: 10px;
  border-bottom: .5px solid var(--color-dark-lighter);
  padding-bottom: 10px;
}

.address-balance {
  display: flex;
  align-items: center;
}

.adress-balance-header {
  margin-right: 10px;
}

.address-value {
  font-size: 14px !important;
  color: var(--color-light) !important;
  height: 2vw !important;
  max-height:26px !important;
  width: auto !important;
  padding: 10px !important;
  border-radius: 20px !important;
  background-color: var(--color-dark-lighter) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
}

.balance-value {
  color: var(--color-light);
  font-weight: 600;
}

.decor {
  display: none;
}

/*info-panel*/

.info-panel-wrapper {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid var(--color-grey);
  border-radius: 20px;
}

.info-item-wrapper {
  min-width: 52vw;
  max-width: 925px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.info-item {
  min-width: 6vw;
  max-width: 167px;
  min-height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-item-var {
  color: var(--color-light);
  font-weight: 600;
}

.info-item-var span {
  color: var(--color-light-darker);
}

.info-item-footer {
  color: var(--color-light-darker);
}

.epoch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.epoch-outside {
  height: 4px;
  width: 100px;
  background-color: var(--color-light-darker);
  margin-left: 10px;
  border-radius: 20px;
}

.epoch-inside {
  height: 4px;
  background-color: var(--color-light);
  z-index: 1;
  border-radius: 20px 0 0 20px;
}

/*defi*/

.defi-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.defi-header {
  margin-bottom: 60px;
}

.defi-head {
  display: flex;
  flex-direction: row;
  width: 53vw;
  height: 2vw;
}

.defi-provider {
  text-align: left;
  background-color: transparent;
  color: var(--color-light-darker);
  border: none;
  outline: none;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.defi {
  display: flex;
  flex-direction: column;
}

.defi-content {
  background-color: var(--color-dark-lighter);
  border-radius: 20px;
  width: 55vw;
  display: grid;
  grid-auto-rows: 4.2vw;
}

.defi-item-wrapper {
  color: var(--color-light);
  font-weight: 600;
  height: 4.2vw;
  padding: 10px;
  border-bottom: 0.5px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.defi-item-wrapper h4 {
  text-align: left;
}

.defi-item-wrapper:nth-last-child(1) {
  border: none;
}

.defi-item-pair {
  min-width: 25.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.defi-item-pair-img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: var(--color-grey);
  margin-right: 10px;
}

.defi-item-apy {
  min-width: 5%;
}

.defi-item-tvl {
  min-width: 10%;
}

.defi-item-provider {
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  background-color: var(--color-grey);
}

.defi-item-buttons {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.defi-item-buttons button {
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  padding: 5px 30px;
  color: var(--color-light);
  font-weight: 600;
  cursor: pointer;
}

.defi-item-liq {
  background-color: var(--color-grey);
  margin-right: 10px;
}

.defi-item-swap {
  background-color: transparent;
}

.defi-item-header {
  display: none;
}

/*nft-item*/

.nft-marketplace-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nft-marketplace-items-wrapper {
  width: 49.6vw;
  max-width: 954px;
  background-color: var(--color-dark-lighter);
  border-radius: 20px;
  margin-top: 20px;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nft-items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  margin-top: 1vw;
}

.nft-item-wrapper {
  cursor: pointer;
  width: 14.47vw;
  max-width: 278px;
  height: 21.82vw;
  max-height: 419px;
  background-color: var(--color-dark);
  border-radius: 17px;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
}

.nft-item-img {
  width: 12.4vw;
  max-width: 238px;
  height: 14.9vw;
  max-height: 286px;
  background-color: var(--color-primary);
  margin-bottom: 0.5vw;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
}

.nft-item-name {
  text-transform: capitalize;
  color: var(--color-light);
  font-weight: 500;
}

.nft-item-token-address {
  display: flex;
  align-items: center;
}

.nft-item-logo {
  width: 30px;
  height: 30px;
}

.arrows {
  display: none;
}

.arrow-wrapper {
  display: none;
}

/*footer*/

.footer {
  height: 10.4vw;
  padding: 2.6vw;
  background-color: var(--color-dark-lighter);
  color: var(--color-light-darker);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-socials-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  max-width: 438px;

}

.footer-socials-li a img{
  height: 3vw;
  width: 3vw;
  opacity: 0.3;
}

.footer-socials-li a img:hover {
  opacity: 1;
}

.footer-menu-ul {
  display: flex;
  flex-direction: row;
}

.footer-menu-li a {
  margin-right: 4.16vw;
  color: var(--color-light-darker);
}

.footer-menu-li a:hover {
  color: var(--color-primary);
}